
server_ip: 1.2.3.4
username: root-user
password: root-pasword
samba_pass: samba-password

portainer_admin_user: admin
portainer_admin_password: portainer-pass
portainer_endpoint_id: "2"

wireguard_host: "your-subdomain.your-domain.com"
wireguard_password: "wireguard-admin-password"

qbittorrent_vpn_provider: nordvpn
qbittorrent_vpn_type: wireguard
qbittorrent_vpn_key: your-vpn-key

cloudflare_api_key: your-cloudflare-token
cloudflare_zone: your-domain.com




